<md-toolbar color="primary">
	<span>Ártemis</span>
	<span class="spacer"></span>
	<!--<artemis-search [placeholder]="placeholder"></artemis-search>-->

	<figure class="img-container is-pointer" [mdMenuTriggerFor]="accountMenu">
		<img src="/assets/images/me.png" alt="profile picture">
	</figure>
	<md-menu #accountMenu="mdMenu">
		<button md-menu-item disabled>
			<span>
				Lucas Pinheiro
			</span>
		</button>
		<button md-menu-item (click)="onLogoutClick()">
			<span>
				Sair
			</span>
		</button>
	</md-menu>


	<button md-icon-button [mdMenuTriggerFor]="sizeMenu" class="is-hidden-mobile">
		<md-icon>more_vert</md-icon>
	</button>
	<md-menu #sizeMenu="mdMenu">
		<button md-menu-item
			*ngFor="let option of options"
			(click)="onOptionClick(option)"
		>
			<span>
				{{option.label}}
			</span>
		</button>
	</md-menu>
</md-toolbar>
