<md-card class="shot-dialog">
	<md-card-header>
		<div md-card-avatar class="header-image-container">
			<img [src]="shot.user.avatar_url"
				alt="Shot author profile image">
		</div>
		<md-card-title>{{shot.title}}</md-card-title>
		<md-card-subtitle>
			por {{shot.user.name}} em {{shot.created_at | date: "dd/MM/y"}}
		</md-card-subtitle>
	</md-card-header>
	<img md-card-image [src]="shot.images.hidpi">
	<md-card-content>
		<div [innerHtml]="shot.description"></div>
		<p class="actions is-unselectable">
			<md-icon class="is-pointer">favorite</md-icon>
			{{shot.likes_count}}
		</p>
	</md-card-content>
</md-card>
