<div class="columns is-centered is-multiline">
	<artemis-shot-card class="column fast-transition {{cardSize | async}}"></artemis-shot-card>
	<artemis-shot-card class="column fast-transition {{cardSize | async}}"></artemis-shot-card>
	<artemis-shot-card class="column fast-transition {{cardSize | async}}"></artemis-shot-card>
	<artemis-shot-card class="column fast-transition {{cardSize | async}}"></artemis-shot-card>
	<artemis-shot-card class="column fast-transition {{cardSize | async}}"></artemis-shot-card>
	<artemis-shot-card class="column fast-transition {{cardSize | async}}"></artemis-shot-card>
	<artemis-shot-card class="column fast-transition {{cardSize | async}}"></artemis-shot-card>
	<artemis-shot-card class="column fast-transition {{cardSize | async}}"></artemis-shot-card>
</div>
